<div>
  <div>
    <h1>
      List of all participations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new participation
    </h2>

    <form action="/insert_participation" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="challenge_id_box">
          Challenge
        </label>

        <input type="text" id="challenge_id_box" name="query_challenge_id">
      </div>

      <div>
        <label for="team_id_box">
          Team
        </label>

        <input type="text" id="team_id_box" name="query_team_id">
      </div>

      <button>
        Create participation
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Challenge
        </th>

        <th>
          Team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_participations.each do |a_participation| %>
      <tr>
        <td>
          <%= a_participation.id %>
        </td>

        <td>
          <%= a_participation.user_id %>
        </td>

        <td>
          <%= a_participation.challenge_id %>
        </td>

        <td>
          <%= a_participation.team_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_participation.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_participation.updated_at) %> ago
        </td>

        <td>
          <a href="/participations/<%= a_participation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
