<div>
  <div>
    <h1>
      Participation #<%= @the_participation.id %> details
    </h1>

    <div>
      <div>
        <a href="/participations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_participation/<%= @the_participation.id %>">
          Delete participation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_participation.user_id %>
      </dd>

      <dt>
        Challenge
      </dt>
      <dd>
        <%= @the_participation.challenge_id %>
      </dd>

      <dt>
        Team
      </dt>
      <dd>
        <%= @the_participation.team_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_participation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_participation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit participation
    </h2>

    <form action="/modify_participation/<%= @the_participation.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_participation.user_id %>">
      </div>

      <div>
        <label for="challenge_id_box">
          Challenge
        </label>

        <input type="text" id="challenge_id_box" name="query_challenge_id" value="<%= @the_participation.challenge_id %>">
      </div>

      <div>
        <label for="team_id_box">
          Team
        </label>

        <input type="text" id="team_id_box" name="query_team_id" value="<%= @the_participation.team_id %>">
      </div>

      <button>
        Update participation
      </button>
    </form>
  </div>
</div>

<hr>
