<div>
  <div>
    <h1>
      Photoworkout #<%= @the_photoworkout.id %> details
    </h1>

    <div>
      <div>
        <a href="/photoworkouts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photoworkout/<%= @the_photoworkout.id %>">
          Delete photoworkout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photoworkout.caption %>
      </dd>

      <dt>
        Challenge
      </dt>
      <dd>
        <%= @the_photoworkout.challenge_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_photoworkout.user_id %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photoworkout.likes_count %>
      </dd>

      <dt>
        Photo locator
      </dt>
      <dd>
        <%= @the_photoworkout.photo_locator %>
      </dd>

      <dt>
        Calories
      </dt>
      <dd>
        <%= @the_photoworkout.calories %>
      </dd>

      <dt>
        Main exercise
      </dt>
      <dd>
        <%= @the_photoworkout.main_exercise %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photoworkout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photoworkout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit photoworkout
    </h2>

    <form action="/modify_photoworkout/<%= @the_photoworkout.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photoworkout.caption %></textarea>
      </div>

      <div>
        <label for="challenge_id_box">
          Challenge
        </label>

        <input type="text" id="challenge_id_box" name="query_challenge_id" value="<%= @the_photoworkout.challenge_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_photoworkout.user_id %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photoworkout.likes_count %>">
      </div>

      <div>
        <label for="photo_locator_box">
          Photo locator
        </label>

        <input type="text" id="photo_locator_box" name="query_photo_locator" value="<%= @the_photoworkout.photo_locator %>">
      </div>

      <div>
        <label for="calories_box">
          Calories
        </label>

        <input type="text" id="calories_box" name="query_calories" value="<%= @the_photoworkout.calories %>">
      </div>

      <div>
        <label for="main_exercise_box">
          Main exercise
        </label>

        <input type="text" id="main_exercise_box" name="query_main_exercise" value="<%= @the_photoworkout.main_exercise %>">
      </div>

      <button>
        Update photoworkout
      </button>
    </form>
  </div>
</div>

<hr>
