


<div style="width:80%; margin:0 auto;">
  <div>
    <h1>
      Hello, <%= @current_user.username %>!
    </h1>
  </div>



  <!--  <%= @current_user.profile_picture %> -->
  <hr>


<h2> Active Challenges </h2>

    <table>
    <% @list_of_participations.each do |participation| %>
      <tr>
        <!--<img src="https://robohash.org/<%= participation.challenge.id %>" height="200" width="400" border="1px" title="Smiley face"></p>
        -->
<a href="/challenges/<%= participation.challenge.challenge_handle %>">
        <div class="img__wrap">
          <img class="img__img" src="https://robohash.org/<%= participation.challenge.id %>" height="200" width="400"/>
          <p class="img__description">Go to #<%= participation.challenge.challenge_handle %></p>
        </div>
</a>

      </tr>
    <% end %>
    </table>
  </div>

<hr>
