<style>
  .gtext {
      color: white;
      font-family: "Helvetica";
  }

  .pwrap {
    word-break: break-all;
    white-space: normal;
  }

    .gcomment {
      color: black;
      font-family: "Helvetica";
  }

</style>


<div style="width:90%; margin:0 auto;" align="center">
  <div>
    <h1>
      Hello, @<%= @current_user.username %>!
    </h1>
  </div>



    <!--  <%= @current_user.profile_picture %> -->
    <hr>


  <h2> Active Challenges </h2>

      <% @list_of_participations.each do |participation| %>
  <!--<table>-->
      

        <!-- tr-->
        <div>
          <table width="380px">
            <tr bgcolor="royalblue">
              <td class="gtext">
                🥇 #<%= participation.challenge.challenge_handle %>
              </td>
            </tr>
          </table>
          <a href="/challenges/<%= participation.challenge.challenge_handle %>">
            <div class="img__wrap">
              <img class="img__img" src="<%= participation.challenge.challenge_image %>" height="200" width="380"/>
              <p class="img__description" align="left">Go to #<%= participation.challenge.challenge_handle %></p>
            </div>
          </a>
        </div>
        <!--/tr-->
      <% end %>
  <!--</table>-->
</div>

<a href="/challenges/new" class="kc_fab_main_btn" align="center">➕</a>


<hr>
