<style>
  .gtext {
      color: white;
      font-family: "Helvetica";
  }

  .pwrap {
    word-break: break-all;
    white-space: normal;
  }

    .gcomment {
      color: black;
      font-family: "Helvetica";
  }

</style>

<div  style="width:80%; margin:0 auto;">
  <div>
    <h1>
        #<%= @the_challenge.challenge_handle %> feed
    </h1>
    <table width="400px">
      <tr >
        <td >
          <a href="/challenges/<%= @the_challenge.challenge_handle %>/edit" class="button"> Edit </a>
        </td>
        <td >
          <a href="/challenges/<%= @the_challenge.challenge_handle %>/stats" class="button"> Stats </a>
        </td>
        <td >
          <a href="/challenges/<%= @the_challenge.challenge_handle %>/rules" class="button"> Rules </a>
        </td>
        <td >
          <a href="/challenges/<%= @the_challenge.challenge_handle %>/invite" class="button"> Invite </a>
        </td>
      </tr>
    </table>


  </div>


<hr>

  <table>
    <% @photoworkouts.each do |workout| %>
      <!--<div style="width:80%; margin:0 auto;"> -->
        <tr>
          <p></p>
        </tr>
        <table width="400px" >

          <tr bgcolor="royalblue">
            <td align="left" class="gtext">
              @<%= workout.user.username%>
            </td>

            <td align="right" class="gtext">
              <%= time_ago_in_words(workout.created_at) %> |
              <%= workout.likes_count%> <a href="/add_like"> ❤️</a>
            </td>
          </tr>

        </table>

        <tr>
          <img src="<%= workout.photo_locator %>" loading="lazy" width="400px">
        </tr>
        <table width="400px" >
          <tr >
            <td align="left" class="gcomment">
            <p class="pwrap">
              💬<%= workout.caption%>
            </p>
            </td>
          </tr>
        </table>
      <!--</div>-->
    <% end %>

  </table>

</div>

<a href="/challenges/<%= @the_challenge.challenge_handle%>/new" class="kc_fab_main_btn">💪</a>

<!--


<hr>
