<!DOCTYPE html>
<html>
  <head>
    <title>Workout Challenge 💪</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <meta property="og:url" content="https://www.workoutchallenge.app" />
    <meta property="og:image" content="https://goyanedelv.github.io/workout/logo-wc.png"/>  
    <meta property="og:title" content="Workout Challenge Fall Edition"/>  
    <meta property="og:description" content="Workout to win 💪!"/>  

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- Navigation menu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="topnav">
      <a href="/challenges" class="active">Workout Challenge</a>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <a href="/">Home</a>
        <% if @current_user == nil %>
        <a href="/user_sign_in">Log in</a>
        <a href="/user_sign_up">Sign up</a>
        <% else %>
        <a href="/user_sign_out">Log out</a>
        <a href="/challenges">My challenges</a>
        <a href="/edit_user_profile">User settings</a>
        <% end %>

      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="on_off_hamburger()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>
    
    <%= yield %>

    <script>
      function on_off_hamburger() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

  </body>
</html>
